 .logo {
  position: relative;
  margin-right: auto;
  max-width: 70px; 
  height: auto;
}

.links {
  position: relative;
  margin-left: auto;
  color: #333 !important;
  text-decoration: none ;
  display: flex !important;
  gap: 20px; 
}
.nav-items {
  display: none; 
  justify-content: flex-start; 
  align-items: center;
  text-decoration: none ;
  width: 100%;
}

.nav-brand a {
    color: #333;
    text-decoration: none;
    margin: 0 1rem;
}

.css-i4bv87-MuiSvgIcon-root {
  color: #333 !important;

}
@media (max-width: 768px) {
  .navbar {
    display: none;
    justify-content: space-between; 
    padding: 0 40px; 
    background-color: aqua;
  }

.links {
  display: none;
  color: white;
  display: none !important;
}
  .links-drawer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

}
