/* Navbar.css */

/* Common styles for both desktop and mobile */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  color: #333;
}

.logo h1 {
  margin: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu ul li {
  position: relative;
}

.menu ul li span {
  cursor: pointer;
}

.menu ul li .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
}

.menu ul li:hover .dropdown-content {
  display: block;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: 0.4s;
}

.active .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.active .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .burger-menu {
    display: flex;
    z-index: 2; /* Add a higher z-index */
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: black;
    width: 100%;
    text-align: center;
    z-index: 1; /* Add a lower z-index */
  }

  .menu.active {
    display: flex;
  }

  .menu.active a {
    color: white;
  }

  .menu.active ul {
    flex-direction: column;
    gap: 10px;
  }

  .menu.active li {
    margin: 0;
  }
  .logo{
    height: 100px;
  }
}
