.serv-image1{
    width: 600px;
    height: 500px;
    display: block;
    margin: 0 auto; 
}
.Serv1-t{
    padding-top: 1em;
}
.training1{
    padding-top: 1em;
    padding-bottom: 1em;
}
.body1{
    padding-top: 1em;
    padding-bottom: 1em;   
}
.Service1{
    text-align: start;
}
.serv1-article{
    width: 45em;
    display: block;
    margin: 0 auto; 
  }
  .custom-bullet {
    list-style-type: disc; 
  }
  .servBtn{
    padding: 2em;
    display: block;
    margin: 0 auto; 
  }