/* Banner.css */

.banner {
    background-color: #0D267F;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding-bottom: 2em;
    transform: skewY(2deg);
  }
  
  .banner-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    transform: skewY(-2deg);
   
  }
  .aboutimg{
    border-radius: 50%;
    width: 500px;
  }
.bannerBtndiv{
  padding-top: 2em;
}
  @media (max-width: 768px) {
    .banner {
      padding: 10px;
    }
  }
  