.serv-image2{
    width: 600px;
    height: 500px;
    display: block;
    margin: 0 auto; 
}
.Serv1-t{
    padding-top: 1em;
}
.training1{
    padding-top: 1em;
    padding-bottom: 1em;
}
.body1{
    padding-top: 1em;
    padding-bottom: 1em;   
}