.serv-image2{
    width: 600px;
    height: 500px;
    display: block;
    margin: 0 auto; 
}
.Serv1-t{
    padding-top: 1em;
}
.training1{
    padding-top: 1em;
    padding-bottom: 1em;
}
.body1{
    padding-top: 1em;
    padding-bottom: 1em;   
}
.serv2-article{
    width: 45em;
    display: block;
    margin: 0 auto; 
  }
  .Service2{
    text-align: start;
}
.Serv2-typo{
    display: flex;
    justify-content: center;
    align-items: center !important;
    text-align: center;
  }
  .css-sghohy-MuiButtonBase-root-MuiButton-root {
    background-color: #FFFF00 !important;
    color: black !important;
  }