/* CardCarousel.css */

.App-Carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* transform: skewY(-2deg); */
}
.carousel-root {
  max-width: 300px; /* Adjust as needed */
  width: 100%;
}