.contact{
    padding: 2em;
}
.name {
    height: 11.5px !important;
    width: 553px !important;
}

/* .contact-con{
    margin-bottom: 20px;
}
.footer-con{
    position: relative;
    margin-bottom: 20px;
} */