.footer {
    background: #0D267F;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
  
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    display: block;
  }
  
  .footer-links a,
  .footer-social a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
  }
  
  .footer-links a:hover,
  .footer-social a:hover {
    text-decoration: underline;
  }
  
  /* .footer-social {
    display: flex;
  }
  
  .footer-social a {
    font-size: 18px;
    margin-right: 10px;
  } */
  .foot{
    font-size: small;
    color: rgba(255, 255, 255, 0.7);
  }
  
  
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
  }
  